<div class="col-auto">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <label for="new-<%= field %>">
                <div class="input-group-text"><%- field %></div>
            </label>
        </div>
        <button type="button" class="btn btn-secondary btn-subtract">-</button>
        <input name="<%= (typeof fieldName !== 'undefined') ? fieldName : field %>:number" type="number" class="form-control char-input" id="new-<%= field %>" value="<%= defaultValue %>" required />
        <button type="button" class="btn btn-secondary btn-add">+</button>
    </div>
</div>