<div class="col-auto">
    <label for="new-<%= field %>">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><%- field %></div>
            </div>
            <button type="button" class="btn btn-secondary btn-subtract">-</button>
            <input name="<%= (typeof fieldName !== 'undefined') ? fieldName : field %>" type="number" class="form-control char-input" id="new-<%= field %>" value="<%= defaultValue %>" autocorrect="off" autocapitalize="off" spellcheck="false" required />
            <button type="button" class="btn btn-secondary btn-add">+</button>
        </div>
    </label>
</div>